  <nav class="menu-container">
    <button class="side-menu-btn" (click)="optionSelected('Guid')">Guid</button>
    <button class="side-menu-btn" (click)="optionSelected('Text')">Text</button>
    <button class="side-menu-btn" (click)="optionSelected('PasswordGenerator')">Password Generator</button>
    <button class="side-menu-btn" (click)="optionSelected('SqlView')">Sql View</button>
    <button class="side-menu-btn" (click)="optionSelected('Converter')">Converter</button>
    <button class="side-menu-btn" (click)="optionSelected('TranslateKeys')">Translate Keys</button>
    <button class="side-menu-btn" (click)="optionSelected('PageInDevelopment')">Lost</button>
    <button class="side-menu-btn" (click)="optionSelected('HallOfShame')">Hall of Shame</button>

  </nav>

