<div class="component-container">
  <span class="content-title">Go Horse Password Generator</span>

  <!-- Row of inputs -->
  <div class="row-container first-chield">

    <span class="input-container">
      <span class="input-label not-selectable">Password length :</span>
      <input class="input" (input)="removeCharThatAreNotNumbers()" [(ngModel)]="passwordLength" type="number" name="passwordLength" >
    </span>
  </div>

  <div class="row-container">

    <span class="input-container">
      <span class="input-label not-selectable">Use capital letters :</span>
      <span [ngClass]="{'check-box not-selectable':true,'not-selected':!useCapitalLetters,'selected':useCapitalLetters}" (click)="selectCheckBox('useCapitalLetters')">
        {{useCapitalLetters ? 'x' : ''}}
      </span>
    </span>

    <span class="input-container">
      <span class="input-label not-selectable">Use lower letters :</span>
      <span [ngClass]="{'check-box not-selectable':true,'not-selected':!useLowerLetters,'selected':useLowerLetters}" (click)="selectCheckBox('useLowerLetters')">
        {{useLowerLetters ? 'x' : ''}}
      </span>
    </span>

    <span class="input-container">
      <span class="input-label not-selectable">Use Numbers :</span>
      <span [ngClass]="{'check-box not-selectable':true,'not-selected':!useNumbers,'selected':useNumbers}" (click)="selectCheckBox('useNumbers')">
        {{useNumbers ? 'x' : ''}}
      </span>
    </span>

    <span class="input-container">
      <span class="input-label not-selectable">Use symbols:</span>
      <span [ngClass]="{'check-box not-selectable':true,'not-selected':!useSymbols,'selected':useSymbols}" (click)="selectCheckBox('useSymbols')">
        {{useSymbols ? 'x' : ''}}
      </span>
    </span>

  </div>


  <div class="generete-btn-char-counter-container">
    <button class="generate-btn" (click)="generatePassword()">Generate Password</button>
    <button class="generate-btn" [cdkCopyToClipboard]="dataGenarated" >Copy To Clipboard</button>
  </div>

   <textarea class="text-area" [value]="dataGenarated" [(ngModel)]="dataGenarated" name="dataGenarated" spellcheck="false"></textarea>
</div>

