<div class="component-container">

  <div class="contributor-card">

    <!-- labelCard -->
    <div class="contributor-card-label">
      <div class="img-container" >
        <img  src="../../assets/icon/polar30.png" alt="Go horse developer" class="img-go-horse">
      </div>
    </div>

    <!-- contentCard -->
    <div class="contributor-card-content">

      <img  src="../../assets/icon/github-icon.png" alt="GitHub" class="card-icon" (click)="navegateToGithub()">
      <img  src="../../assets/icon/linkedin-icon.png" alt="Linkedin" class="card-icon" (click)="navegateToLinkedin()">


    </div>
  </div>

</div>
