
.component-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .content-title{
    color: #adbac7;
    font-weight: 600 ;
    font-size: 14px;
  }


  .img-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }

  .img-go-horse-lost{
    height: 350px;
    position: relative;
    bottom: 115px;
  }


  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}


  $seconds: 20s;

  .horse-icon{
      // animation: show-animation-login-card 10s linear infinite;
        -webkit-animation:spin $seconds linear infinite;
      -moz-animation:spin $seconds linear infinite;
      animation:spin $seconds linear infinite;
  }


}
