<div class="component-container">

  <span class="content-title">
    <p>
      SoRrY DuDe, LoOkS LiKe yOu'rE AlOnE ArOuNd hErE.
    </p>
    <p>
      If sOmEtHiNg Is wOrKiNg dOn't aSk mE HoW.
    </p>
    <p>
      BeTtEr gEt bAcK BeFoRe yOu gEt lOsT iN hEre.
    </p>
    <p>
      BeCaUsE In tHe eNd, WhEn tImE Is sHoRt yOu kNoW WhIcH MoDe yOu aCtIvAtE.
    </p>
    <p>
      ArE YoU GoInG To tElL Me tHaT WhEn yOu sEe tHaT CoDe uSiNg 10+ "If" CoNdItIoNs yOu rEfAcToR??
    </p>
    <p>
      DoN'T MaKe mE LaUgH, wE BoTh kNoW YoU AdD OnE MoRe "If" In cOdE, pLeAsE DoN'T DeNy oUr nAtUrE.
    </p>
    <div class="img-container">
      <img  src="assets/icon/What.png" alt="Full Go Horse" class="img-go-horse-lost horse-icon">
    </div>
</span>

</div>
