<div class="component-container">

    <span > Hello , if you get here that means you are a crazy person. </span>
    <span > I don`t know why someone will use this for anything </span>
    <span > So i will tell you what are you going to find here </span>
    <ul >
      <li >Many bugs</li>
      <li >Several meaningless lines of code</li>
      <li >Lots of useless features</li>
      <li >Pages that don't make any sense</li>
    </ul>
    <span > But do not fell bad, the guy who is coding this app is known for his full go horse code, and remember if you are here you are a little bit crazy too. </span>
    <span  class="img-container">
      <img  src="assets/icon/go-horse-icon.png" alt="Full Go Horse" class="img-go-horse">
    </span>

</div>
