.content-container{
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 15px;

  ::ng-deep tk-menu-side-tools{
    height:calc(100% - 100px);
    box-sizing: border-box;
  }

  ::ng-deep tk-card-content-guid{
    height: 100%;
  }

  ::ng-deep tk-card-content-text{
    height: 100%;
  }

  ::ng-deep tk-card-password-generator{
    height: 100%;
  }

  ::ng-deep tk-card-content-translate-keys{
    height: 100%;
  }

  ::ng-deep tk-card-content-sql{
    height: 100%;
  }

  ::ng-deep tk-card-content-sql-view{
    height: 100%;
  }

  ::ng-deep tk-card-content-converter{
    height: 100%;
  }

  ::ng-deep tk-card-content-hall-of-shame{
    height: 100%;
  }

  .main-content{
    height:calc(100% - 100px);
    background-color: transparent;
    width: calc(100% - 250px);
    border-radius: 4px;
    border:1px solid #444c56;

    .main-content-label-container{
        height: 52px;
        width: 100%;
        background-color:#2d333b ;
        box-sizing: border-box;
        padding: 0px 15px;
        display: flex;
        align-items: center;

        .main-label-text{
          color: #adbac7;
          font-weight: 600 ;
          font-size: 14px;
        }

      }

      .card-content-container{
        width: 100%;
        height: calc(100% - 52px);
        // background-color: violet;


        .content{
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 20px;
          color:#768390;
          font-weight: 500 ;
          font-size: 16px;
          height: 100%;
        }
      }
  }

}
